<%- include('layouts/header') -%>

<h1>Home</h1>
<p><%= home_content %></p>

<% tasks_data.forEach((element) => { %>
    <h1><%= element.taskName %></h1>      
    <p><%= (element.taskBody).substring(0, 70) %> ... <a href='/posts/<%= element.taskName %>'> Read More</a></p>
<% }) %>

<%- include('layouts/footer') -%>

